*{
    background-image: url("GRID_TABLAZAT/kepek/hatter.jpg");
}

body{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    padding: auto;
    align-items: center;
    background-color: white;
}

header{
    background-image: url("GRID_TABLAZAT/kepek/fejlec.jpg");
    padding: 20px;
    padding-top: 50px;
}

header, h1{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}